@import url(./fonts.css);

:root {
  --main-color: #51dab1;
  --main-color-hover: #59e6bb;
  --main-color-active: #5bf5c7;
  --bg-color: #f1fffb;
}

* {
  font-family: "Manrope", sans-serif;

  margin: 0;
  padding: 0;
}

/* Font Sizes */

.project-title {
  font-size: 20px;
}

.header > .project-title {
  font-size: 32px;
}

.todo-count {
  font-size: 16px;
}

.todo-title,
.todo-date,
input,
select,
textarea,
button {
  font-size: 16px;
}

.new-todo > input {
  font-size: inherit;
}

/* Layout */

html,
body,
#app-window {
  height: 100%;
}

#app-window,
.sidebar,
.main-content,
.projects,
.project,
.new-project,
.header,
.todo-list,
.todo,
.new-todo,
.edit-area {
  display: grid;
}

#app-window {
  grid-template-columns: 300px 1fr 0fr;  
  transition: 0.3s ease-out;
}

#app-window.edit-active {
  grid-template-columns: 0px 1fr 1fr;  
}

.sidebar,
.main-content,
.edit-area {
  grid-template-rows: 60px 1fr;
  overflow: hidden;
}

.sidebar {
  background-color: var(--bg-color);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.logo-section,
.header {
  background-color: var(--main-color);
}

#logo {
  padding: 10px;
}

.projects {
  align-items: center;
  grid-auto-rows: 60px;
  padding: 10px;
}

.project,
.new-project {
  align-items: center;
  grid-template-columns: auto 1fr auto;
  column-gap: 10px;
  padding: 0 10px 0 10px;
  height: 50px;
}

.project-icon {
  padding: 8px;
}

.header {
  align-items: center;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  font-weight: bold;
}

.header>.project-title {
  padding-left: 10px;
}

.todo-list {
  grid-auto-rows: 60px;
  padding: 10px;
}

.todo {
  grid-template-columns: auto auto 1fr auto auto;
}

.new-todo {
  grid-template-columns: auto 1fr;
}

.todo,
.new-todo {
  align-items: center;
  column-gap: 10px;
  padding: 5px;
}

.date {
  padding: 5px;
}

.new-todo > input {
  align-self: stretch;
}

.todo-edit-btn,
.todo-delete-btn {
  padding: 5px;
}

form#edit-todo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px repeat(3, 50px 30px) 200px 100px;
  padding: 10px;
}

form#edit-todo>label {
  align-self: flex-end;
}

form#edit-todo>input,
form#edit-todo>select,
form#edit-todo>textarea {
  padding: 5px;  
}

form#edit-todo>textarea {
  resize: none;
}

/* Appearance */

.project,
.new-project {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease;
}

.project.selected,
form#edit-todo>input:focus,
form#edit-todo>select:focus, 
form#edit-todo>textarea:focus {
  outline: 2px solid var(--main-color);
}

.new-project {
  border: 1px dashed rgba(0, 0, 0, 0.4);
  opacity: 0.75;
}

.project-icon {
  border-radius: 50%;
  background-color: #f35f4c;
}

.project:nth-child(2) > .project-icon {
  background-color: #4c94f3;
}

.project:nth-child(3) > .project-icon {
  background-color: #f3ab4c;
}

.todo,
.new-todo {
  border-bottom: 1px solid rgba(150, 150, 150, 0.5);
  transition: background-color 0.2s ease;
}

.date {
  display: inline;
  color: #3d3d3d;
  background-color: #ddd;
  border-radius: 5px;
  font-weight: bold;
}

button,
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}

form#edit-todo>input,
form#edit-todo>select,
form#edit-todo>textarea {
  border-radius: 5px;
  border: 1px solid #dcdee2;
}

.todo-edit-btn,
.todo-delete-btn {
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.edit-todo {
  border-left: 1px solid rgba(150, 150, 150, 0.5);
}

form#edit-todo>button {
  font-weight: bold;
  white-space: nowrap;
  padding: 10px 20px;
  margin: 20px 40px 20px 40px;
  background-color: var(--main-color);
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.25);
}

form#edit-todo>button:hover {
  background-color: var(--main-color-hover);
  cursor: pointer;
}

form#edit-todo>button:active,
form#edit-todo>button:focus {
  background-color: var(--main-color-active);  
  outline: none;
}

.project:hover,
.new-project:hover,
.todo:hover,
.new-todo:hover,
.new-todo > input:hover {
  background-color: #ececec;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.new-project:hover {
  border-style: solid;
}

.new-todo > input:focus {
  cursor: text;
}

.todo-edit-btn:hover,
.todo-delete-btn:hover {
  background-color: var(--main-color);
  cursor: pointer;
}